@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,body {
    margin: 0;
    padding: 0;
    font-family: 'roboto',sans-serif;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
header {
    display: flex;
    justify-content: flex-end;
}
header a {
    color: #111;
    text-decoration: none;
    padding: 8px;
    margin: 2px;
}
header a:hover {
    text-decoration: underline;
}
/* bagian utama */
main div {
    display: flex;
    justify-content: center;
}